.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-padding {
  padding: 6em 2em;
}

.staff-padding {
  padding: 6em 0em;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #0fc136;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: white;
}

.white-block-left {
  bottom: 0;
  left: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.white-block-right {
  bottom: 0;
  right: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f7f8;
}

.nav {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav__item {
  text-decoration: none;
  color: #f0f7f8;
  font-size: 30px;
  padding-top: 1rem;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
  text-transform: uppercase;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.nav__item:hover {
  color: aqua;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  background-image: url("../img/kod1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
  text-transform: uppercase;
}

.header__heading {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  color: white;
  padding: 0.5em;
  -webkit-text-decoration: green wavy underline;
          text-decoration: green wavy underline;
}

.header__text {
  font-size: 1.4rem;
  color: white;
}

span {
  color: #1dee9e;
}

.staff {
  background: radial-gradient(circle, #2b2c2e 13%, #191919 65%);
}

.staff .section-heading {
  -webkit-text-decoration: #4b637c wavy underline;
          text-decoration: #4b637c wavy underline;
}

.staff .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1000px;
  z-index: -1000;
}

.staff .cards .card {
  position: relative;
  margin: 70px;
  height: 500px;
  width: 50%;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  -webkit-box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.7);
          box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.staff .cards .one {
  background-image: url("../img/kamil.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.staff .cards .two {
  background-image: url("../img/karol.jpg");
}

.staff .cards .btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 2.25rem;
  text-shadow: 2px 2px 5px black;
  cursor: cell;
  z-index: 10;
}

.staff .cards .btn:hover ~ .text {
  -webkit-clip-path: circle(160% at 50% 90%);
          clip-path: circle(160% at 50% 90%);
}

.staff .cards .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 80px 30px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  -webkit-clip-path: circle(0% at 50% 90%);
          clip-path: circle(0% at 50% 90%);
  -webkit-transition: -webkit-clip-path 0.8s;
  transition: -webkit-clip-path 0.8s;
  transition: clip-path 0.8s;
  transition: clip-path 0.8s, -webkit-clip-path 0.8s;
}

.staff .cards h1 {
  color: #b6b361;
}

.staff .cards h2 {
  margin-bottom: 30px;
  color: #8d8a8a;
}

.opinions h2 {
  color: #2965a9;
}

.opinions__box {
  position: relative;
  margin: 2em;
  padding: 2em;
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 10px #2e2e2e2e;
          box-shadow: 3px 3px 10px #2e2e2e2e;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.opinions__box:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.opinions__box-img {
  position: absolute;
  top: 8%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.opinions__box-img img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.opinions__box-quote {
  margin-bottom: 1em;
  font-size: 3rem;
  color: #2e2cb4;
}

.opinions__box-text {
  margin-bottom: 1em;
  font-size: 1.4rem;
  color: #2e2e2e;
}

.contact {
  background-color: white;
  overflow: hidden;
}

.contact__form, .contact__form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form-label {
  margin-bottom: 0.6em;
  text-transform: uppercase;
}

.contact__form-input {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
}

.contact__form-textarea {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  width: 100%;
  min-width: 100%;
  min-height: 150px;
}

button {
  position: relative;
  margin: 20px;
  padding: 30px 50px;
  background: none;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 28px;
  text-transform: uppercase;
  cursor: pointer;
}

button::before,
button::after {
  display: block;
  position: absolute;
  content: '';
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}

.slice::before,
.slice::after {
  width: 100%;
  height: 100%;
  background-color: #1893e6;
  content: '';
}

.slice::before {
  top: -50%;
  left: -100%;
  content: '';
}

.slice::after {
  bottom: -50%;
  right: -100%;
  content: '';
}

.slice:hover::before {
  left: 0;
}

.slice:hover::after {
  right: 0;
}

@media (min-width: 280px) {
  .header__text {
    padding: 0 1em;
    margin-left: 46px;
  }
  .nav__item {
    font-size: 10px;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    padding-top: 4em;
    padding-left: 0.5em;
  }
  .staff .cards {
    overflow-x: hidden;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .staff .cards .one h1,
  .staff .cards .one h2 {
    font-size: 1.5rem;
  }
  .staff .cards .one p {
    font-size: 7.9px;
  }
  .staff .cards .two h1,
  .staff .cards .two h2 {
    font-size: 1.5rem;
  }
  .staff .cards .two p {
    font-size: 7.9px;
  }
  .opinions__box-quote {
    margin-bottom: 1em;
    font-size: 20px;
    color: #2e2cb4;
  }
  .opinions__box-img {
    position: absolute;
    top: 8%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .opinions__box-img img {
    width: 60px;
    height: 60px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  .opinions .opinions__box-text {
    font-size: 16px;
  }
}

@media (min-width: 360px) {
  .header__text {
    padding: 0 2em;
    margin-left: 50px;
  }
  .nav__item {
    font-size: 13px;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    padding-top: 4em;
    padding-left: 0.5em;
  }
  .staff .cards .one p {
    font-size: 12px;
  }
  .staff .cards .two p {
    font-size: 12px;
  }
}

@media (min-width: 375px) {
  .header__text {
    margin-left: 55px;
  }
  .nav__item {
    font-size: 13px;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    padding-top: 4rem;
  }
  .staff .cards {
    margin-right: 100px;
  }
  .staff .cards .one {
    font-size: 10px;
  }
  .staff .cards .two {
    font-size: 11px;
  }
}

@media (min-width: 390px) {
  .header__text {
    padding: 0 2em;
    margin-left: 50px;
  }
}

@media (min-width: 393px) {
  .header__text {
    padding: 0 3em;
    margin-left: 50px;
  }
}

@media (min-width: 412px) {
  .nav__item {
    font-size: 0.9rem;
  }
  .staff .cards .one h1,
  .staff .cards .one h2 {
    font-size: 2rem;
  }
  .staff .cards .one p {
    font-size: 13px;
  }
  .staff .cards .two h1,
  .staff .cards .two h2 {
    font-size: 2rem;
  }
  .staff .cards .two p {
    font-size: 15px;
  }
}

@media (min-width: 540px) {
  .header__text {
    margin-left: 120px;
  }
}

@media (min-width: 768px) {
  .staff .cards .one p {
    font-size: 18px;
  }
  .staff .cards .two p {
    font-size: 23px;
  }
}

@media (min-width: 820px) {
  .staff .cards .one {
    font-size: 200px;
  }
}

@media (min-width: 912px) {
  .staff .cards .one h1,
  .staff .cards .one h2 {
    font-size: 24px;
  }
  .staff .cards .one p {
    font-size: 24px;
  }
  .staff .cards .two p {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .staff .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .staff .cards .one h1,
  .staff .cards .one h2 {
    font-size: 1.5rem;
  }
  .staff .cards .one p {
    font-size: 13px;
  }
  .staff .cards .two h1,
  .staff .cards .two h2 {
    font-size: 1.5rem;
  }
  .staff .cards .two p {
    font-size: 13px;
  }
}
/*# sourceMappingURL=main.css.map */