.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.wrapper1 { 
    margin: 0 auto;
    width: 100%;
}
.section-padding {
	padding: 6em 2em;
	// 6em paddingu gora dół i 2em paddingu po bokach
}

.staff-padding {
    padding: 6em 0em;
}

.section-heading {
    position: relative;
	margin-bottom: 2em;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	color: rgb(15, 193, 54);


}

.white-block {
    position: absolute;
    height: 40px;
    width: 60%;
    background-color: white;

    &-left {
    bottom: 0;
    left: -50px;
    transform: skew(45deg);
    }

    &-right {
        bottom: 0;
        right: -50px;
        transform: skew(45deg);
    }

}

