@mixin heroImages($bgImg) {
	background-image: url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@mixin navBar {
	transform: translateY(-60%);
	padding-top: 4em;
	padding-left: 0.5em;
}


@mixin columnBar {
	overflow-x: hidden;
	max-width: 100%;
	flex-direction: column;
}