@import './colors';
@import './components';
@import './mixins';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f0f7f8;
}

.nav {
	position: fixed;
	top: 0;
	z-index: 1000;

	&__items {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	&__item {
		text-decoration: none;
		color: #f0f7f8;
		font-size: 20px;
		padding: 0 2em;
		padding-top: 1rem;
		transform: translateX(60%);
		text-transform: uppercase;
		transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	}

	&__item:hover {
		color: aqua;
	}
}

// header
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	// background-color: rgb(124, 139, 156);
	@include heroImages('../img/kod1.jpg');
	height: 80vh;
	text-transform: uppercase;

	&__heading {
		font-family: 'Fira Sans', sans-serif;
		font-weight: bold;
		color: white;
		padding: 0.5em;
		text-decoration: green wavy underline;
	}

	&__text {
		font-size: 1.4rem;
		color: white;
	}
}

span {
	color: rgb(29, 238, 158);
}

.staff {
	background: radial-gradient(circle, rgba(43, 44, 46, 1) 13%, rgba(25, 25, 25, 1) 65%);
}
.cards {
	display: flex;
	width: 1000px;

	.card {
		position: relative;
		margin: 10px;
		height: 800px;
		width: 50%;
		text-align: center;
		background-position: center;
		background-size: cover;
		border-radius: 15px;
		box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.7);
		overflow: hidden;
	}

	.one {
		background-image: url('../img/kamil.jpg');
	}

	.two {
		background-image: url('../img/karol.jpg');
	}

	.btn {
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 10px;
		background: none;
		border: none;
		color: #ffffff;
		font-size: 2.25rem;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
		cursor: crosshair;
		z-index: 10;
	}

	.btn:hover~.text {
		clip-path: circle(120% at 50% 90%);

	}
	// po najechaniu na button pokaze nam sie text

	.text {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 80px 30px;
		background-color: rgba(0, 0, 0, .85);
		color: #ffffff;
		clip-path: circle(0% at 50% 90%);
		transition: clip-path .8s;

	}

	h1 {
		color: rgb(182, 179, 97);
	}
	h2 {
		margin-bottom: 30px;
		color: rgb(141,138,138);
	}
}

// ======================================
// MEDIA
// =====================================

@media (min-width: 280px) {
	.header {
		&__text {
			padding: 0 1em;
		}
	}

	.nav {
		&__item {
			font-size: 10px;
			@include navBar;
		}
	}
}

@media (min-width: 360px) {
	.nav {
		&__item {
			font-size: 13px;
			@include navBar;
		}
	}
}

@media (min-width: 375px) {
	.nav {
		&__item {
			font-size: 13px;
			transform: translateY(-60%);
			padding-top: 4rem;
		}
	}
}

@media (min-width: 412px) {
	.nav {
		&__item {
			font-size: 0.9rem;
		}
	}
}
