@import './components';
@import './mixins';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f0f7f8;
}

// header

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 75vh;
	text-transform: uppercase;
	@include heroImages('../img/kod.jpg')




	
}

// ======================================
// MEDIA
// =====================================
