@import './colors';
@import './components';
@import './mixins';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f0f7f8;
}

.nav {
	position: fixed;
	top: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.6);

	&__items {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		max-width: 1200px;
	
		
	}

	&__item {
		text-decoration: none;
		color: white;
		font-size: 40px;
		padding-top: 1rem;
		transform: translateX(60%);
		text-transform: uppercase;
		transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	}

	&__item:hover {
		color: aqua;
	}
}

// header
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	// background-color: rgb(124, 139, 156);
	@include heroImages('../img/kod1.jpg');
	height: 80vh;
	text-transform: uppercase;

	&__heading {
		font-family: 'Fira Sans', sans-serif;
		font-weight: bold;
		color: white;
		padding: 0.5em;
		text-decoration: green wavy underline;
	}

	&__text {
		font-size: 1.4rem;
		color: white;
	}


	span {
		color: rgb(29, 238, 158);
	}
}



.staff {
	h2 {
		color: #1755e7;
	}
	background: radial-gradient(circle, rgba(43, 44, 46, 1) 13%, rgba(25, 25, 25, 1) 65%);
	.section-heading {
		text-decoration: rgb(75, 99, 124) wavy underline;
	}
	.cards {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 1000px;
		z-index: -1000;

		.card {
			position: relative;
			margin: 70px;
			height: 500px;
			width: 50%;
			text-align: center;
			background-position: center;
			background-size: cover;
			border-radius: 15px;
			box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.7);
			overflow: hidden;
		}

		.one {
			background-image: url('../img/kamil.jpg');
			display: flex;
			flex-direction: row;
		}

		.two {
			background-image: url('../img/karol.jpg');
		}

		.btn {
			position: absolute;
			top: 10px;
			right: 10px;
			padding: 10px;
			background: none;
			border: none;
			color: #ffffff;
			font-size: 2.25rem;
			text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
			cursor: cell;
			z-index: 10;
		}

		.btn:hover ~ .text {
			clip-path: circle(160% at 50% 90%);
		}

		.text {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			padding: 80px 30px;
			background-color: rgba(0, 0, 0, 0.85);
			color: #ffffff;
			clip-path: circle(0% at 50% 90%);
			transition: clip-path 0.8s;
		}

		h1 {
			color: rgb(182, 179, 97);
		}
		h2 {
			margin-bottom: 30px;
			color: rgb(141, 138, 138);
		}
	}
}

// OPINIONS
.opinions {
	h2 {
		color: rgb(41, 101, 169);
	}
	&__box {
		position: relative;
		margin: 2em;
		padding: 2em;
		border-radius: 8px;
		box-shadow: 3px 3px 10px #2e2e2e2e;
		transition: transform 0.3s;

		&:hover {
			transform: scale(0.95);
		}
	}

	&__box-img {
		position: absolute;
		top: 8%;
		left: 75%;
		transform: translate(-50%, -50%);

		img {
			width: 80px;
			height: 80px;
			object-fit: cover;
			border-radius: 50%;
		}
	}
	&__box-quote {
		margin-bottom: 1em;
		font-size: 3rem;
		color: #2e2cb4;
	}

	&__box-text {
		margin-bottom: 1em;
		font-size: 1.4rem;
		color: #2e2e2e;
	}
}

.contact {
	background-color: #f0f7f8;
	overflow: hidden;
	h2 {
		color: #1755e7;
	}
	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}

	&__form-label {
		margin-bottom: 0.6em;
		text-transform: uppercase;
	}

	&__form-input {
		margin-bottom: 2em;
		padding: 0.6em 1.2em;
		border: none;
		border-radius: 8px;
		font-size: 1.6rem;
	}

	&__form-textarea {
		margin-bottom: 2em;
		padding: 0.6em 1.2em;
		border: none;
		border-radius: 8px;
		font-size: 1.6rem;

		width: 100%;
		min-width: 100%;
		min-height: 150px;
	}

	span {
		color: red;
		font-size: 20px;
	}
	.yeah {
		color: red;
		font-size: 1em;
		text-transform: uppercase;
	}
}

button {
	position: relative;
	margin: 20px;
	padding: 30px 50px;
	background: none;
	background-color: rgb(24, 147, 230);
	color: black;
	border: 1px solid black;
	border-radius: 8px;
	font-size: 28px;
	text-transform: uppercase;
	cursor: pointer;
	transition: color 0.3s;
}

button:hover {
	transform: scale(0.95);
}

footer {
	background-color: #2e2e2e;
	height: auto;
	width: 100%;
	padding-top: 40px;
	color: #ffffff;
}

.footer__content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;

	h3 {
		font-size: 1.8rem;
		font-weight: 400;
		text-transform: capitalize;
		line-height: 3rem;
	}
	p {
		max-width: 500px;
		margin: 10px auto;
		line-height: 28px;
		font-size: 14px;
	}

	.socials {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1rem 0 3rem 0;
		li {
			margin: 0 10px;
		}

		a {
			text-decoration: none;
			color: #fff;
			transition: color 0.3s;
		}

		i {
			font-size: 1.8rem;
		}
		a:hover {
			color: aqua;
		}
	}

}

.footer-bottom  {
	background-color: #2e2e2e;
	width: 100%;
	padding: 20px 0;
	text-align: center;



		p {
			font-size: 2rem;
		

		}

}


// ======================================
// MEDIA
// =====================================

@media (min-width: 280px) {
	.header {
		&__text {
			padding: 0 1em;
			margin-left: 46px;
		}
	}

	.nav {
		&__item {
			font-size: 10px;
			@include navBar;
		}
	}

	.staff {
		.cards {
			@include columnBar;
			.one {
				h1,
				h2 {
					font-size: 1.5rem;
				}
				p {
					font-size: 7.9px;
				}
			}

			.two {
				h1,
				h2 {
					font-size: 1.5rem;
				}
				p {
					font-size: 7.9px;
				}
			}
		}
	}

	.opinions {
		&__box-quote {
			margin-bottom: 1em;
			font-size: 20px;
			color: #2e2cb4;
		}

		&__box-img {
			position: absolute;
			top: 8%;
			left: 75%;
			transform: translate(-50%, -50%);

			img {
				width: 60px;
				height: 60px;
				object-fit: cover;
				border-radius: 50%;
			}
		}

		.opinions__box-text {
			font-size: 16px;
		}
	}
}

@media (min-width: 360px) {
	.header {
		&__text {
			padding: 0 2em;
			margin-left: 50px;
		}
	}

	.nav {
		&__item {
			font-size: 13px;
			@include navBar;
		}
	}

	.staff {
		.cards {
			.one {
				p {
					font-size: 12px;
				}
			}

			.two {
				p {
					font-size: 12px;
				}
			}
		}
	}
}

@media (min-width: 375px) {
	.header {
		&__text {
			margin-left: 55px;
		}
	}

	.nav {
		&__item {
			font-size: 13px;
			transform: translateY(-60%);
			padding-top: 4rem;
		}
	}

	.staff {
		.cards {
			margin-right: 100px;

			.one {
				font-size: 10px;
			}

			.two {
				font-size: 11px;
			}
		}
	}
}
@media (min-width: 390px) {
	.header {
		&__text {
			padding: 0 2em;
			margin-left: 50px;
		}
	}
}
@media (min-width: 393px) {
	.header {
		&__text {
			padding: 0 3em;
			margin-left: 50px;
		}
	}
}

@media (min-width: 412px) {
	.nav {
		&__item {
			font-size: 0.9rem;
		}
	}

	.staff {
		.cards {
			.one {
				h1,
				h2 {
					font-size: 2rem;
				}
				p {
					font-size: 13px;
				}
			}

			.two {
				h1,
				h2 {
					font-size: 2rem;
				}
				p {
					font-size: 15px;
				}
			}
		}
	}
}

@media (min-width: 540px) {
	.header {
		&__text {
			margin-left: 120px;
		}
	}
}

@media (min-width: 768px) {
	.staff {
		.cards {
			.one {
				p {
					font-size: 18px;
				}
			}
			.two {
				p {
					font-size: 23px;
				}
			}
		}
	}
}

@media (min-width: 820px) {
	.staff {
		.cards {
			.one {
				font-size: 200px;
			}
		}
	}
}

@media (min-width: 912px) {
	.staff {
		.cards {
			.one {
				h1,
				h2 {
					font-size: 24px;
				}
				p {
					font-size: 24px;
				}
			}

			.two {
				p {
					font-size: 24px;
				}
			}
		}
	}
}

@media (min-width: 1024px) {
	.staff {
		.cards {
			display: flex;
			flex-direction: row;

			.one {
				h1,
				h2 {
					font-size: 1.5rem;
				}
				p {
					font-size: 13px;
				}
			}

			.two {
				h1,
				h2 {
					font-size: 1.5rem;
				}
				p {
					font-size: 13px;
				}
			}
		}
	}
}
